body{
    background-image: url(../img/landing-background-img-1.jpg);
    font-family: 'Lobster';
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our-rev{
    margin-top: 30px;
    font-size: 50px;
    color: #e2d737;
    border-bottom:  2px solid black;
}
.content{
    margin-top: 40px;
    width: 400px;
    height: 450px;
    background-color: #f8e6c5;
    border-radius: 12px;
    box-shadow: 0px 3px 24px -3px black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.pp-img{
    width: 150px;
    height: 120px;
    border-radius: 100%;
    box-shadow: 5px -3px 0px 0px #6c6cf7;
}
.name{
    color:#e7395c;
    font-size: 25px;
}
.job{
    color: #f16634;
    font-size: 20px;
}
.rev-cont{
    width: 350px;
}
.left-arrow,.right-arrow{
    color: #e2d737;
    font-size: 22px;
    margin: 0 5px;
    cursor: pointer;
}
.sm{
    cursor: pointer;
    width: 90px;
    height: 35px;
    color: #e800fd;
    background-color:  #d3d4ff;
    border-radius: 8px;
    border: 1px solid #eec2f1;
    font-weight: bold;
    transition-duration: 0.5s;
}
.sm:hover{
    color: #a102af;
    background-color:  #a6a7f5;
}

@media screen and (max-width: 450px) {
    .content{
        width: 300px;
    }
    .rev-cont{
        width: 270px;
    }
}